@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  gap: 1rem;
  position: relative;
  background: -webkit-linear-gradient(left, #0a285f, #0075be);
  background: -moz-linear-gradient(left, #0a285f, #0075be);
  background: -ms-linear-gradient(left, #0a285f, #0075be);
  background: -o-linear-gradient(left, #0a285f, #0075be);
  background: linear-gradient(to right, #0a285f, #0075be);
}

.character img {
  width: 79%;
  margin-left: 17.3rem;
}

.pokedex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15rem;
  top: 0;
  position: absolute;
}

.pokedex img {
  width: 87%;
}

.aplication {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.pokemon-card {
  top: 10rem;
}

.pokemon-gif {
  cursor: pointer;
  margin-top: -25.5rem;
  margin-left: -3rem;
  position: absolute;
  cursor: pointer;
}

.pokemon-name {
  font-size: 1.7rem;
  font-family: pokemon solid, sans-serif;
  color: #ffcc03;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: blue;
  text-align: end;
  margin-left: -2.5rem;
  margin-top: -17.7rem;
}

.search {
  height: 1.5rem;
}

.search input {
  padding: 0.5rem;
  height: 1.5rem;
  width: 12.5rem;
  border-radius: 0.5rem;
  margin-top: 22.5rem;
  margin-left: -5.5rem;
}

.primary-buttons {
  margin-left: -4rem;
  margin-top: 31.5rem;
  position: absolute;
}

.button {
  display: inline;
  /* background-color: rgb(14, 12, 10); */
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #2d2a37;
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
}
